<html>
<head>
<title>商品の返品、交換について</title>
</head>
<body>

<h1>商品の返品、交換について</h1><br>

DULCISが発送した未開封の商品は１週間以内であれば返品をお受けいたします。
返品の前に以下の内容をもう一度ご確認ください。

<br>
<br>

<h3>1.商品の発送元を確認する</h3><br>
　DULCIS社が発送する商品を返品する場合は次のステップに進みます。<br>

<h3>2．返品期限を確認する</h3><br>
　DULCIS社で購入した商品について、原則として未開封のものに限り、
　商品到着後1週間以内の返品を受け付けます。<br><br>

　<h3>※：</h3>
	
	・1週間を過ぎた場合は返金額は原則２０％減額されます。<br>

	・開封した商品をお客様都合で返品される場合は商品代金の
	  ５０％が返金されます。<br>
	・開封後でないとわからない不良に関しては返金、交換を受け付けます。<br>
	・初期の状態での不良と思われる商品につきましては
	  返品期限を過ぎてからでも返品を受け付けることがあります。<br><br>


また交換につきましては不具合や損傷のある商品は原則として1週間以内であれば<br>
同じ商品との交換を承っております。商品によっては原則返金のみで交換が
できない場合があります。<br>
その場合は返金後、別途ご注文ください。<br><br>


以上の内容を確認のうえ、お手数ですが商品を包装し着払いでの郵送を
お願いします。<br><br>

<h3>
DULCIS<br><br>
〒811-0016<br>
福岡県福岡市博多区博多駅南2-12-32<br>
TEL：092-415-2288<br>
</h3>
</body>
</html>