<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<title>DULCIS社について</title>

<body>

<h1>DULCIS社について</h1>

	<h2>○DULCIS社の企業理念</h2>
		<h3>森永のお菓子のことなら！</h3>
		
		――森永の新しく、懐かしいお菓子を発見でき購入できること<br/>
		
		<h3>地球上でもっともお客様に愛される企業であること</h3>
		
		――お年寄りから赤ちゃんまですべての人に愛される企業であること<br/>
	

	<h2>○DULCIS主義（行動指針）</h2>

	上記にある企業理念を具現化する基盤として『DULCIS主義』があります。 
	これは、DULCISグループの根幹を成すものであり、全ての役員および従業員
	の行動指針として、大切にしている考え方です。<br/>


	<h2>○主な事業</h2>
	 
	<h3>○インターネットサービス</h3>
		市場事業
		トラベル事業
		その他、国内インターネットサービス
		海外事業等
<br/> 
	<h3>○金融サービス</h3>
		クレジットカード事業
		銀行事業
		証券事業
		電子マネー事業等
<br/>	 
	<h3>○その他</h3>
		通信事業
		プロスポーツ事業等

<br/>
	<h2>○会社概要</h2>

	<h3>・会社名</h3>
		DULCIS株式会社

	<h3>・本社所在地</h3>
		〒140-0002　東京都品川区東品川4-12-3
		品川シーサイドDULCISタワー
		TEL. 03-6387-1111
	 
<br/>
	<h2>○代表者</h2>
		代表取締役会長兼社長
	 	岩永　一鷹
	 
<br/>	
	<h2>○役員紹介</h2>
		谷　雄大
		花岡　龍
		西山　卓也
		石川　新也
		 
<br/>
 　<h2>○設立</h2>
		1993年2月7日 

<br/>
	<h2>○DULCIS開設</h2>
		1997年5月1日 

<br/>
   <h2>○株式店頭上場</h2>
		2000年4月19日 

<br/>
   <h2>○資本金</h2>
		109,530百万円 (2013年12月31日現在) 

<br/>
   <h2>○従業員数</h2>
		単体: 4,000 名
		 連結: 10,865 名
		(2013年12月31日現在)
		<br/>※ 使用人兼務取締役、派遣社員及びアルバイトを除く就業人員ベース  


	




</body>
</html>
