<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<title>初めての方へ</title>

<body>

<h1>初めての方へ</h1>

　<h2>初めまして、「DULCIS(ドゥルシス)」です！</h2>

「DULCIS(ドゥルシス)」は、森永の様々なお菓子の購入を楽しめるサイトです。<br/>
 さまざまな年代のお菓子が集まって、お子様から、お年寄り世代までが楽しめる幅広い品揃えとおいしいお菓子の買い物体験を提供します。<br/>
 
 <h2>○お客様がすることは、欲しい商品を・・</h2>
 探す　→　買う　→　届く <br/>
 
 <h2>○貯まる！使える！交換できる！</h2>DULCISポイント！！DULCISポイントとは、商品を購入するたびにポイントがもらえるサービス。<br/>
 しかも1ポイント＝1円相当としてご利用できるから、賢く貯めれば次のお買いものの心強い味方に！<br/>


 <h2>○全商品のお買いもので、幅広く、便利に使える</h2>

	 貯まったポイントは、様々なDULCISグループ提供サービスでご利用可能。DULCISの全ショップ、<br/>
	 全商品にも使えるから、賢く貯めれば、お財布にもやさしいショッピングが楽しめます。<br/>


 <h2>○商品の１０％ポイントとして貯まる！</h2>

	 原則としてお買い上げ商品（税抜き）の１０％がポイントとして貯まります。<br/>
	 購入翌日に仮ポイントが付与され、その後20日経てば使用可能に！<br/>
	 他のDULCISグループのサービスのご利用でもポイントが貯まります。<br/>
	 
 
 <h2>○また欲しいアイテムは購入履歴でリピート購入</h2>

「前に購入したミネラルウォーターをもう一度注文したい！」というときは、購入履歴をチェック！<br/>
 購入商品の詳細がすぐにわかるから、リピートしやすいというメリットが。









</body>
</html>
