<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>利用規約</title>
</head>
<body>

	<h1>利用規約</h1>
	<br />
	Dulcis 利用規約<br />
		<br />
		第1条（定義）<br />
		Dulcisは、株式会社Dulcis（以下、「当社」といいます。）が運営するWebサイト（以下、「本サイト」といいます。）です。<br />
		当社は、本サイトにおける各サービスである「通信販売」（以下、「サービス」といいます。）や、今後当社が新しく開始するサービスの利用について規定した利用規約（以下、「本規約」といいます。）を以下の通り定めます。<br />
		本サイトにアクセスする全ての利用者（以下、利用者といいます。）は、当サイトにアクセス、閲覧、またはサービスを利用することによって本規約および、各サービスに関する利用規約にそれぞれ同意したものとみなします。<br />
		なお、本規約に同意できない者、または違反する者の閲覧、およびサービスの利用を禁止するものとします。<br />
		<br />
		第2条（本規約の範囲及び改訂）<br />
		本規約は、本サイトにアクセスした時点から、利用者と当社とのすべての関係に適用されます。<br />
		当社は、本規約を利用者の承諾を得ることなく、任意に改訂できるものとし、本規約が改訂された場合、当社は速やかに本サイト上で改訂された新規約を掲示することにより、本規約の改訂の告知を行います。<br />
		新規約の掲示がなされた時点から改訂後の内容が適用されるものとし、利用者は改訂後の規約に従うものとします。<br />
		なお、当社は本規約の改訂により、利用者に不利益が生じた場合でも、一切の責任を負わないものとします。<br />
		<br />
		第3条 （サービスの利用 ）<br />
		利用者は、法令、規則、通達並びに本規約に従い、サービスを利用するものとします。<br />
		<br />
		第4条（当社との通信）<br />
		本サイトの閲覧、およびサービスを利用する際に使用する通信機器の設置費用および利用料金、通信料その他一切の費用については、その理由の如何によらず、利用者が負担するものとします。<br />
		なお、サービスに関する、本社、事務所、物流センター、店舗への訪問によるお問合せはお受け致しかねます。問い合わせの際には、必ず日本語により、当社所定の当該問い合わせ先に問い合わせて下さい。<br />
		<br />
		第5条（本サイトへのアクセス）<br />
		本サイトへアクセスする際には、原則としてトップページ（http://localhost/dulcis/view/）からアクセスするものとします。<br />
		<br />
		第6条（通信販売サービス、ダウンロード販売サービスの利用）<br />
		本規約、および別途定める会員規約に同意される利用者は、所定の手続きを行うことにより、通信販売サービスなどの当社が提供するサービスをご利用いただけます。<br />
		<br />
		第7条（価格表示）<br />
		本サイトの通信販売サービスで表示される商品の価格は、特に記述がない限り消費税込みの金額にて記載しております。ショッピングカートご利用時の価格表示も同様です。<br />
		なお、消費税率や価格表示に関しては、関連法令が改正された際、その法令が定めるものに準拠するものとします。<br />
		<br />
		第8条（サービスの変更、中断、停止等）<br />
		当社は、サービスを常に良好な状態で提供するために、システムの定期保守や緊急保守を行う場合、システムに負荷が集中した場合、利用者のセキュリティを確保する必要が生じた場合、その他必要があると判断した場合には、事前に利用者に通知することなく、サービスの全部または一部の提供を中断、または停止することができるものとします。<br />
		この場合により、利用者に生じた損害について当社は一切責任を負わないものとします。 また、天変地異、人災、その他災害等の不可抗力により、本サイトの運営ができなくなった場合についても、これに起因して利用者、または第三者が被った損害について、当社は一切の責任を負わないものとします。<br />
		<br />
		第9条（当社の免責）<br />
		1.通信回線やコンピューターなどの障害によるシステムの中断、遅滞、中止、データの消失、不正アクセスにより生じた損害、その他当社のサービスに関して利用者に生じた損害について、当社は一切責任を負わないものとします。<br />
		2.当社のWebサイト、サーバ、ドメインなどから送られるメール、コンテンツに、コンピューターウイルスなどの有害なものが含まれていないことを保証いたしません。<br />
		3.当社は、利用者に対し、状況に合わせて情報提供やアドバイスを行うことがありますが、それにより当社が責任を負うものではありません。<br />
		4.利用者と第三者との間で生じた紛争に関して、当社は一切関知せず、何らの責任を負わないものとします。<br />
		5.利用者が本規約、その他当社が定める規定、規約、約款に違反したことによって生じた損害については、当社は一切責任を負いません。<br />
		6.当社はコンテンツ内容の正確性、有用性について保証しません。<br />
		7.当社の保有、運営しているWebサイトに張られているリンクの有用性、正確性、セキュリティの完全性について保証しません。<br />
		8.当社はサービスが利用者の希望を満たすこと、およびサービスによって得られる情報、データ、作品が利用者の希望を満たすものであることを保証しません。<br />
		9.当社は提供するデータ、作品に不具合およびバグ等の瑕疵がないこと、およびそれらが修正されることを保証しません。<br />
		10.当社は、サービスの利用により発生した利用者の損害に対し、いかなる責任も負いません。<br />
		11.何らかの理由により当社が責任を負う場合でも、利用者に発生した直接かつ現実の損害のみ賠償するものとし、間接的損害、特別損害、将来の損害及び逸失利益にかかる損害については、賠償する責任を負わないものとします。<br />
		12.利用者がサービスの利用によって第三者に対して損害を与えた場合、利用者は自己の責任と費用をもって解決し、当社はその責任を負いません。<br />
		<br />
		第10条（禁止行為）<br />
		利用者が、次の各項の行為（以下、「禁止事項」という）を行うことを禁じます。万が一、当該行為が発覚した際は、当社が必要と認める処置をするものとします。<br />
		以下に定める禁止事項に違反したことにより利用者に損害が生じた場合には、その損害の一切について、当社はその責めを負わないものとします。また、当社が損害を被った場合は、禁止事項に違反した会員が、当社に生じた一切の損害を賠償する義務を負います。<br />
		また、すでに会員資格を失った場合においても、その義務を負うものとします。<br />
		<br />
		1.本規約、利用規約、その他当社が定める規定、規約、約款に違反する行為。<br />
		2.当社及びその他の第三者の著作権、商標権等の知的財産権を侵害すること、または侵害に結びつく行為。<br />
		3.当社及びその他の第三者に迷惑、不利益もしくは損害を与える行為、またはその恐れのある行為。<br />
		4.当社及びその他の第三者に対して事実に反する情報他、公序良俗に反する、またはその恐れのある情報を提供する行為。<br />
		5.犯罪行為、公序良俗に反する行為、その他法令に違反する行為、またはその恐れのある行為。<br />
		6.選挙活動、宗教活動またはこれらに類する行為、その他の政治および宗教に関する行為。<br />
		7. パスワードを不正に使用する行為、虚偽の情報を入力する行為（他人になりすましてアクセスする行為を含む）。<br />
		8.本サイトとは無関係のデータを、あたかも本サイトから送信されたものであるかのように偽装する行為。<br />
		9.架空の名前や他人の名前、虚偽の肩書きを使用したり、架空の会社名を名乗ったり、代表権や代理権のない会社名や組織名を名乗ったり、他の人物や組織と関連、提携、協力関係があるかのように偽ったりする行為。<br />
		10.本サイトのサーバに著しく負担をかけ、その他同サーバの運営等を妨害する一切の行為（ハッキング等を含むがこれらに限られません）。<br />
		11.転売、再販売、その他営利を目的として本サイトを利用する行為（当社が特別に承認した場合を除く）。<br />
		12.上記各号に準じる行為、および、その他、当社が不適切と判断する行為。<br />
		<br />
		第11条（自己責任の原則）<br />
		サービスの利用は、利用者の自己の責任と費用により行うものとします。当該利用者がサービスの利用に際して、第三者、または当社に対して損害を与えたときは、利用者は自己の責任と費用をもって当該損害を賠償するものとします。<br />
		<br />
		第12条（知的財産権について）<br />
		本サイト内の文章、画像、動画、音楽等、および掲示される全てのコンテンツと、当社が提供するサービスに関する著作権その他の知的財産権は、当社又は当該コンテンツ等の製作者・各製作企業に帰属します。<br />
		利用者がこれらの権利を侵害し、もしくは侵害することを禁じます。<br />
		<br />
		第13条（準拠法及び正文）<br />
		本規約の解釈は日本法によってなされるものとし、日本語によって作成された本規定を正文とします。<br />
		<br />
		第14条（準拠法及び管轄）<br />
		本規約に関して訴訟の必要を生じた場合は、日本国の専属的な国際裁判管轄に服するものとし、事物管轄に応じて日本における東京地方裁判所又は東京簡易裁判所を第一審の専属的合意管轄裁判所とします。 <br />
	<h1>個人情報保護方針</h1>
		<br />
		基本方針<br />
		<br />
		　当社は、通信販売のご利用に際して、お客様の個人情報をお預かりする場合がございます。当社は、皆様からお預かりした個人情報が、お客様にサービスをご提供する上で必要不可欠なものであるとともに、皆様にとって貴重な財産であることを認識しております。当社は、個人情報を取り扱う企業として、個人情報保護法はじめ関係諸法令を遵守し、情報システムの安全性と信頼性の確保に万全を期し、管理責任者設置のもと、お客様の個人情報を厳重に保管・管理することを最優先事項といたします。 
		<br />
		個別方針<br />
		<br />
		◇　1.個人情報保護への取組み<br />
		当社は、個人情報保護を組織的に推進するため、次のとおり、必要な体制やルールを整備し、管理活動を行っております。<br />
		<br />
		1.1.) 組織体制<br />
		当社は、全社および業務単位で個人情報の取扱いに関する管理者を設置します。また、個人情報に関する教育・啓発、お客様からのお問合せへの対応、監査などについても、それぞれ責任者を任命し、必要な業務を行わせます。<br />
		<br />
		1.2.) セキュリティの確保<br />
		当社は、個人情報に関して不安のない環境を作るため、セキュリティの確保に努めます。当社は、個人情報への不正アクセスや、お客様の個人情報の紛失、破壊、改ざん、漏えいなどのリスクに対処するため、体制やルールを整備し、必要な施策を講じます。<br />
		<br />
		1.3.) 教育・啓発の実施<br />
		当社は、当社の事業に関与するすべての者に対して、教育・啓発を行い、個人情報保護に対する一人一人の意識を高めます。これにより、当社のすべての事業において個人情報の適切な取扱いを徹底してまいります。<br />
		<br />
		1.4.) 監査の実施<br />
		当社は、個人情報保護活動の一環として内部監査を実施します。これにより、個人情報保護に関する管理・運営を定期的に見直し、改善してまいります。<br />
		<br />
		◇　2.その他<br />
		<br />
		この方針の内容は事前に予告なく変更される場合があります。あらかじめその旨ご了承の上、最新の方針および別表などをご確認いただけますようお願いいたします。<br />
		当社は、この方針を、当社の管理するWebサイトや当社の発行する販促物、店舗などに掲示し、これを広く公表いたします。<br />
		当社では、お客様からのご質問、ご要望に確実に対処することができるよう、必要に応じてお客様との会話を録音させて頂く場合がございますので、予めご了承下さい。<br />
		<br />
		<br />

</body>
</html>