
#left_menu {
    clear: both;
    float:left;
    width: 15%;
    min-height:500px;
    margin-left:30px;
}

#left_menu a { 
	text-decoration:none;
}
#left_menu p:hover { 
	text-decoration:none;
}

#left_menu p { 
  position: relative;
        transition-property:color;
  transition-duration: 1s;
  transition-delay: 0s;
    margin-top:10px;
	font-size:18px;
    background-color:#ffffff;
	color:FFFFFF!important;;
    padding-top:5px;
    padding-bottom:5px;
    text-align:center;
    background-color:#FF9201;
    text-decoration:none;
	border-style:solid;
    border-width:3px;
    border-color:#ffffff;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    text-shadow:1px 1px 5px #cc9f52;
    background:-moz-linear-gradient( center top, #ffbe69 9%, #ff9101 96% );
    background:-ms-linear-gradient( top, #ffbe69 9%, #ff9101 96% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbe69', endColorstr='#ff9101');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(9%, #ffbe69), color-stop(96%, #ff9101) );
    background-color:#ffbe69;
}

#left_menu p:hover {
    transition-property:color;
    transition-duration: 1s;
    transition-delay: 0s;
    border-color:#ff8c00;
    border-style:solid;
    border-width:3px;
    border-color:white;
    color:#1C2535!important;;
    background:-moz-linear-gradient( center top, #ffc77d 9%, #ffac40 96% );
    background:-ms-linear-gradient( top, #ffc77d 9%, #ffac40 96% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc77d', endColorstr='#ffac40');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(9%, #ffc77d), color-stop(96%, #ffac40) );
    background-color:white;
}
