@charset "UTF-8";
/*使わなくなった残骸など入ってる汚いものですが、徐々に整えていきます2014/06/02
*/
body {
    font-family:  sans-serif;
    margin: 0px;
    padding: 0px;
    
}


#header {
	padding-top:20px;
    padding-left:10px;
}

#footer {
    clear: both;
	padding-top:10px;
    padding-left:10px;
}

#main {
	float:left;
    
/* border-radius */
border-radius:10px;
-webkit-border-radius:10px;
-moz-border-radius:10px;

/* box-shadow */
box-shadow:rgb(83, 230, 88) 0px 0px 30px 20px;
-webkit-box-shadow:rgb(83, 230, 88) 0px 0px 30px 20px;
-moz-box-shadow:rgb(83, 230, 88) 0px 0px 30px 20px;
}


#slideshow {
    position:relative;
    height:350px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:10;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}


/* レフトメニュー */
#left_menu {
    float:left;
    
}
.button-skewed {
  perspective: 200px; 
  text-transform: uppercase;
  width: 150px;
  margin: 30px auto;
  position: relative;
  color: white;
  font-weight: bold;
  line-height: 2.4;
  text-align: center;
  padding-left: 20px;
  cursor: pointer;
 
  &::before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    outline: 1px solid transparent;
    transform: skew(-9deg) rotateX(-22deg) rotateY(-21deg) rotateZ(-9deg);
  }

  &-item {
    @extend .button-skewed;
 
    &::before {
      background: #7fc552;
    }
 
    &:hover::before {
      background: #7CD147;
    }
  }
/* 
  &-action {
    @extend .button-skewed;
 
    &::before {
      background: #5388C6;
    }
 
    &:hover::before {
      background: #3C87DD;
    }
  }
 */
/* 
  &-danger {
    @extend .button-skewed;
 
    &::before {
      background: #C66253;
    }
 
    &:hover::before {
      background: #DD513C;
    }
  }
/*  
  &-warning {
    @extend .button-skewed;
 
    &::before {
      background: #C6C000;
    }
 
    &:hover::before {
      background: #B3AE14;
    }
  }
*/
}
/*レフトメニュー終わり*/

dl.accordion { background:#DDD; width:80%; margin:0 auto 30px; padding:10px; font-size:16px;}
dl.accordion dt {
    background:url(../img/open.png) 97% center no-repeat,-moz-linear-gradient(top, #C6F0FE, #27BCF9);
    background:url(../img/open.png) 97% center no-repeat,-webkit-gradient(linear, left top, left bottom, from(#C6F0FE), to(#27BCF9));
    border-bottom:1px solid #EEE; height:40px; text-indent:10px; line-height:40px; color:#333; font-weight:bold; cursor:pointer;}
dl.accordion dt.open {
    background:url(../img/close.png) 97% center no-repeat,-moz-linear-gradient(top, #C6F0FE, #27BCF9);
    background:url(../img/close.png) 97% center no-repeat,-webkit-gradient(linear, left top, left bottom, from(#C6F0FE), to(#27BCF9));}
dl.accordion dd { background:#FFF; padding:10px; line-height:1.5; display:none;}

