<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="./test/bootstrap.php">
    <testsuites>
        <testsuite name="DulcisTest">
            <directory suffix=".php">./test/app/classes</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="/test/doc/report" charset="UTF-8"
             yui="true" highlight="false"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="/test/doc/coverage.xml"/>
    </logging>
</phpunit>
